<link rel="stylesheet" type="text/css" href="/style.css">

<body>

  <header>

<NAV>

<u1>
  <a href="background"><li class="nav-items">BACKGROUND</li></a>
  <a href="index"><li class="nav-items">LANDING PAGE</li></a>
</u1>

</NAV>

  </header>


<h1>This is my background</h1>

<o1>
  <li>Marketing</li>
  <li>Acquisition</li>
  <li>Product Management</li>
</ol>

</body>
